/************* contact page ************/

/******** contact header ******/

.contact__hero {
    padding: 0;
    height: auto;
}

.contact__hero__container {
    padding: 14rem 0;
}

.contact__bold {
    letter-spacing: 1px;
    font-weight: normal;
}

/************** Contact form ***************/
.contact__form__container {
    margin-top: 5rem;
}

.contact__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.contact__item {
    width: 50%;
    border: 3px solid #51ADCF;
    border-radius: 7px;
    padding: 0.3rem;
    font-weight: 500;
    text-align: center;
}

.contact__button__container {
    margin-top: 3rem;
}

.contact__form__button {
    border-radius: 10px;
    border: 2px solid var(--header-main-color);
    padding: 0.5rem 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 500;
    color: white;
    background-color: #51adcf;
    transition: all 0.1s ease-in-out;
}

.contact__form__button:hover {
    background-color: transparent;
    border: 2px solid var(--header-main-color);
    color: #51ADCF;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: .7rem;
    font-size: 2rem;
    font-weight: 500;
}

textarea {
    text-align: left;
}

/****************** Media Query *****************/

@media screen and (max-width: 767px) {
    .contact__item {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .contact__item {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .contact__item {
        width: 100%;
    }
}

